/* Required */
.woocommerce-Reviews {
	&__summary {
		.d-table-cell {
			line-height: 1;
			white-space: nowrap;
		}
	}

	&__filters {
		label.input-group-text {
			padding-left: 0;
			background-color: transparent;
			border-color: transparent;

			@media screen and (max-width: 640px) {
				min-width: 70px;
			}
		}

		:is(select.form-select,label[for=verified]) {
			min-width: 150px;
			border-top-left-radius: var(--wp--input--border-radius)!important;
			border-bottom-left-radius: var(--wp--input--border-radius)!important;
		}
		
		.js-filter-purchase {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			appearance: none;
			cursor: pointer;

			&:checked + label {
				color: var(--wp--preset--color--primary);
				border-color: var(--wp--preset--color--primary);

				.woocommerce-Reviews__icon--verified {
					filter: none;
				}
			} 

			& + label {
				color: inherit;
				font-weight: normal;
				text-transform: initial;
				min-width: 40px;

				.woocommerce-Reviews__icon--verified {
					filter: contrast(0);
				}
			}
		}
	}

	&__listing {
		&:empty {
			display: none;
		}
	}
	
	&__rating {
		position: relative;
		
		&-range {
			display: flex;
			flex-flow: row-reverse nowrap;
			pointer-events: none;
		}
		
		&-overlay {
			display: flex;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;

			.woocommerce-Reviews__icon--rating {
				--wc--icon: var(--wc--star-active);
			}
		}

		&-input {
			font-size: 1.2rem;

			&__hover {
				display: none;

				@media screen and (min-width: 576px) {
					display: block;
				}
			}
		}
	}

	&__suggestions {
		.wp-element-button {
			font-size: .5rem;
			padding: .25em 1em;
		}
	}

	&__pagination {
		&-list {
			display: inline-flex;
		}
		
		&-item {
			min-width: 2em;
			text-align: center;
		}

		&-link {
			display: block;
			padding: .5rem;
			border-radius: .25em;
		}

		&-list {
			line-height: 1;
			list-style: none;
			padding: 0;
		}

		.disabled {
			pointer-events: none;

			a,
			span {
				color: gray;
			}
		}
	}

	&__icon {
		display: inline-block;
		vertical-align: -0.125em;
		border: 0;
		padding: 0;
		margin: 0;
		outline: 0;
		width: 1em;
		height: 1em;
		font-size: inherit;
		color: transparent;
		background-color: transparent;
		background-image: var(--wc--icon);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		appearance: none;

		&--verified {
			--wc--icon: var(--wc--verified);
			pointer-events: none;
		}

		&--comments {
			--wc--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M280 272H136c-4 0-8 4-8 8v16c0 4 4 8 8 8h144c4 0 8-4 8-8v-16c0-4-4-8-8-8zm96-96H136c-4 0-8 4-8 8v16c0 4 4 8 8 8h240c4 0 8-4 8-8v-16c0-4-4-8-8-8zM256 32C115 32 0 125 0 240c0 48 20 91 53 126-15 40-46 73-46 74a24 24 0 0 0 17 40c62 0 110-26 139-46 29 9 60 14 93 14 141 0 256-93 256-208S397 32 256 32zm0 384c-28 0-56-4-83-13l-15-5-13 10c-23 16-59 35-103 39 12-15 30-40 41-69l7-19-14-15c-29-30-44-66-44-104 0-97 101-176 224-176s224 79 224 176-100 176-224 176z'/%3E%3C/svg%3E");;
		}

		&--comment {
			--wc--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M344 224h-72v-72c0-4-4-8-8-8h-16c-4 0-8 4-8 8v72h-72c-4 0-8 4-8 8v16c0 4 4 8 8 8h72v72c0 4 4 8 8 8h16c4 0 8-4 8-8v-72h72c4 0 8-4 8-8v-16c0-4-4-8-8-8zM256 32C115 32 0 125 0 240c0 48 20 91 53 126-15 40-46 73-46 74a24 24 0 0 0 17 40c62 0 110-26 139-46 29 9 60 14 93 14 141 0 256-93 256-208S397 32 256 32zm0 384c-28 0-56-4-83-13l-15-5-13 10c-23 16-59 35-103 39 12-15 30-40 41-69l7-19-14-15c-29-30-44-66-44-104 0-97 101-176 224-176s224 79 224 176-100 176-224 176z'/%3E%3C/svg%3E");
		}

		&--search {
			--wc--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M509 482 380 353c-3-3-6-4-9-4h-10a208 208 0 1 0-12 12v10c0 3 1 6 4 9l129 129c4 4 12 4 17 0l10-10c4-5 4-13 0-17zm-301-98a176 176 0 1 1 0-352 176 176 0 0 1 0 352z'/%3E%3C/svg%3E");
		}

		&--like {
			--wc--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M462 63c-54-47-136-39-186 13l-20 21-20-21C196 34 113 9 50 63c-63 53-66 150-10 208l193 199c6 7 15 10 23 10s16-3 22-10l194-199c56-58 53-155-10-208zm-13 185L256 448 63 248c-39-39-47-115 8-161 54-47 119-13 142 12l43 44 43-44c23-24 88-58 143-12 54 46 46 122 7 161z'/%3E%3C/svg%3E");
			filter: invert(12%) sepia(90%) saturate(6598%) hue-rotate(6deg) brightness(89%) contrast(115%);
			
			&.active {
				--wc--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='m48 300 180 169a41 41 0 0 0 56 0l180-169c31-28 48-68 48-109v-6A143 143 0 0 0 268 84l-12 12-12-12A143 143 0 0 0 0 185v6c0 41 17 81 48 109z'/%3E%3C/svg%3E");
			}
		}

		&--recommend {
			--wc--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M313.4 32.9c26 5.2 42.9 30.5 37.7 56.5l-2.3 11.4c-5.3 26.7-15.1 52.1-28.8 75.2H464c26.5 0 48 21.5 48 48c0 18.5-10.5 34.6-25.9 42.6C497 275.4 504 288.9 504 304c0 23.4-16.8 42.9-38.9 47.1c4.4 7.3 6.9 15.8 6.9 24.9c0 21.3-13.9 39.4-33.1 45.6c.7 3.3 1.1 6.8 1.1 10.4c0 26.5-21.5 48-48 48H294.5c-19 0-37.5-5.6-53.3-16.1l-38.5-25.7C176 420.4 160 390.4 160 358.3V320 272 247.1c0-29.2 13.3-56.7 36-75l7.4-5.9c26.5-21.2 44.6-51 51.2-84.2l2.3-11.4c5.2-26 30.5-42.9 56.5-37.7zM32 192H96c17.7 0 32 14.3 32 32V448c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V224c0-17.7 14.3-32 32-32z'/%3E%3C/svg%3E");
			filter: invert(36%) sepia(95%) saturate(4244%) hue-rotate(190deg) brightness(101%) contrast(101%);
		}

		&--rating {
			--wc--icon: var(--wc--star);

			&:is(:hover,.active),
			&:is(:hover,.active) ~ * { 
				--wc--icon: var(--wc--star-active);
			}
		}
	}

	:where(h1,h2,h3,h4,h5,h6,p,ul,ol,figure) {
		&:where(:only-child,:not(:last-child)) {
			margin-top: 0;
		}

		&:where(:only-child,:last-child) {
			margin-bottom: 0;
		}
	}
}
